*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#party-container{
    margin: auto;
    text-align: center;
    
    
    

}

h1{
    padding: 50px;
    width: 30%;
    font-size: 50px;
}
p{
    padding: .5em;
}
.party:nth-child(2n+1){
    margin-left: 400px;
}
.party:nth-child(2n+2){
    margin-right: 400px;
}